<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-content">
        <div class="logo">
            <a href="index.html"><img src="img/TypeSeba_Logo.png" loading="lazy" alt="TypeSeba"></a>
        </div>

        <div class="nav-menu desktop-menu">
            <a href="#pricing-section" class="nav-link">Valores</a>
            <a href="#services-section" class="nav-link">Servicios</a>
            <a href="#portfolio-section" class="nav-link">Proyectos</a>
            <a href="#faq-section" class="nav-link dropdown">FAQ</a>
        </div>

        <a href="contact.html" class="btn-primary desktop-btn">Conversemos</a>

        <button class="mobile-menu-btn" id="mobileMenuBtn">
            <svg width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </div>
    <div class="mobile-menu" id="mobileMenu">
        <a href="#pricing-section" class="mobile-link">Valores</a>
        <a href="#services-section" class="mobile-link">Servicios</a>
        <a href="#portfolio-section" class="mobile-link">Proyectos</a>
        <a href="#faq-section" class="mobile-link">FAQ</a>
        <a href="contact.html" class="btn-primary mobile-btn">Conversemos</a>
    </div>
</nav>